In [10]:
import pandas as pd
enrich = pd.read_csv("ACS DEMOGRAPHIC AND HOUSING ESTIMATES.csv")

enrich

#display personal enrichment dataset in notebook

,Label (Grouping),United States!!Estimate,United States!!Margin of Error,United States!!Percent,United States!!Percent Margin of Error
0,SEX AND AGE,NaN,NaN,NaN,NaN
1,Total population,"329,725,481",*****,"329,725,481",(X)
2,Male,"163,206,615","±7,110",49.5%,±0.1
3,Female,"166,518,866","±7,150",50.5%,±0.1
4,Sex ratio (males per 100 females),98.0,±0.1,(X),(X)
...,...,...,...,...,...
89,Total housing units,"139,647,020","±3,504",(X),(X)
90,"CITIZEN, VOTING AGE POPULATION",NaN,NaN,NaN,NaN
91,"Citizen, 18 and over population","235,667,239","±116,751","235,667,239",(X)
92,Male,"115,049,995","±65,503",48.8%,±0.1
93,Female,"120,617,244","±54,323",51.2%,±0.1

In [1]:
import pandas as pd
super = pd.read_csv("cases_deaths_county_data.csv")

super

#import super covid data set

,Unnamed: 0,countyFIPS,County Name,State,StateFIPS,"2020-01-22,cases","2020-01-23,cases","2020-01-24,cases","2020-01-25,cases","2020-01-26,cases",...,"2023-01-28,deaths","2023-01-29,deaths","2023-01-30,deaths","2023-01-31,deaths","2023-02-01,deaths","2023-02-02,deaths","2023-02-03,deaths","2023-02-04,deaths","2023-02-05,deaths",population
0,0,0,Statewide Unallocated,AL,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1001,Autauga County,AL,1,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,55869
2,2,1003,Baldwin County,AL,1,0,0,0,0,0,...,723,723,723,723,723,723,723,723,723,223234
3,3,1005,Barbour County,AL,1,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,24686
4,4,1007,Bibb County,AL,1,0,0,0,0,0,...,109,109,109,109,109,109,109,109,109,22394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,3188,56037,Sweetwater County,WY,56,0,0,0,0,0,...,137,137,137,137,137,137,137,137,137,42343
3189,3189,56039,Teton County,WY,56,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,23464
3190,3190,56041,Uinta County,WY,56,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,20226
3191,3191,56043,Washakie County,WY,56,0,0,0,0,0,...,47,47,47,47,47,47,47,47,47,7805
3192,3192,56045,Weston County,WY,56,0,0,0,0,0,...,22,22,22,22,22,22,22,22,22,6927