In [59]:
import pandas as pd

#get original data
cases = pd.read_csv("covid_confirmed_usafacts.csv")
deaths = pd.read_csv("covid_deaths_usafacts.csv")
county = pd.read_csv("covid_county_population_usafacts.csv")

#change column names to specify the type of data given a specfic date
for i in range(4, len(cases.columns)):
    cases = cases.rename(columns={cases.columns[i]: cases.columns[i] + ",cases"})
cases

,countyFIPS,County Name,State,StateFIPS,"2020-01-22,cases","2020-01-23,cases","2020-01-24,cases","2020-01-25,cases","2020-01-26,cases","2020-01-27,cases",...,"2023-01-07,cases","2023-01-08,cases","2023-01-09,cases","2023-01-10,cases","2023-01-11,cases","2023-01-12,cases","2023-01-13,cases","2023-01-14,cases","2023-01-15,cases","2023-01-16,cases"
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19205,19205,19205,19205,19205,19318,19318,19318,19318,19318
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,68182,68182,68182,68182,68182,68518,68518,68518,68518,68518
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7120,7120,7120,7120,7120,7188,7188,7188,7188,7188
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,7808,7808,7808,7808,7808,7855,7855,7855,7855,7855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,12394,12394,12430,12430,12430,12437,12437,12437,12437,12437
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,11997,11997,12035,12035,12035,12045,12045,12045,12045,12045
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6303,6303,6318,6318,6318,6333,6333,6333,6333,6333
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,2717,2717,2727,2727,2727,2731,2731,2731,2731,2731
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,1876,1876,1880,1880,1880,1881,1881,1881,1881,1881

In [61]:
for i in range(4, len(deaths.columns)):
    deaths = deaths.rename(columns={deaths.columns[i]: deaths.columns[i] + ",deaths"})
deaths

,countyFIPS,County Name,State,StateFIPS,"2020-01-22,deaths","2020-01-23,deaths","2020-01-24,deaths","2020-01-25,deaths","2020-01-26,deaths","2020-01-27,deaths",...,"2023-01-07,deaths","2023-01-08,deaths","2023-01-09,deaths","2023-01-10,deaths","2023-01-11,deaths","2023-01-12,deaths","2023-01-13,deaths","2023-01-14,deaths","2023-01-15,deaths","2023-01-16,deaths"
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,230
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,719,719,719,719,719,721,721,721,721,721
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,136,136,136,136,136,136,136,136,136,136
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,47,47,47,47,47,47,47,47,47,47
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,22,22,22,22,22,22,22,22,22,22

In [62]:
cases_deaths = pd.merge(cases, deaths, on=['countyFIPS', 'County Name', 'State', 'StateFIPS'])
cases_deaths

,countyFIPS,County Name,State,StateFIPS,"2020-01-22,cases","2020-01-23,cases","2020-01-24,cases","2020-01-25,cases","2020-01-26,cases","2020-01-27,cases",...,"2023-01-07,deaths","2023-01-08,deaths","2023-01-09,deaths","2023-01-10,deaths","2023-01-11,deaths","2023-01-12,deaths","2023-01-13,deaths","2023-01-14,deaths","2023-01-15,deaths","2023-01-16,deaths"
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,230
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,719,719,719,719,719,721,721,721,721,721
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,136,136,136,136,136,136,136,136,136,136
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,47,47,47,47,47,47,47,47,47,47
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,22,22,22,22,22,22,22,22,22,22

In [92]:
county

      countyFIPS            County Name State  population
0              0  Statewide Unallocated    AL           0
1           1001         Autauga County    AL       55869
2           1003         Baldwin County    AL      223234
3           1005         Barbour County    AL       24686
4           1007            Bibb County    AL       22394
...          ...                    ...   ...         ...
3190       56037      Sweetwater County    WY       42343
3191       56039           Teton County    WY       23464
3192       56041           Uinta County    WY       20226
3193       56043        Washakie County    WY        7805
3194       56045          Weston County    WY        6927

[3195 rows x 4 columns]

In [91]:
super = pd.merge(cases_deaths, county, on=['countyFIPS','County Name', 'State'], how='left')
super

#this is wrong because the population values are not being merged into the data set

#I think its because the county set has 2 more rows(counties) recorded compared to cases and deaths so that means there are two extra
#rows that are causing issues.

,countyFIPS,County Name,State,StateFIPS,"2020-01-22,cases","2020-01-23,cases","2020-01-24,cases","2020-01-25,cases","2020-01-26,cases","2020-01-27,cases",...,"2023-01-08,deaths","2023-01-09,deaths","2023-01-10,deaths","2023-01-11,deaths","2023-01-12,deaths","2023-01-13,deaths","2023-01-14,deaths","2023-01-15,deaths","2023-01-16,deaths",population
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,NaN
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,719,719,719,719,721,721,721,721,721,NaN
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,NaN
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,136,136,136,136,136,136,136,136,136,NaN
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,NaN
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,NaN
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,47,47,47,47,47,47,47,47,47,NaN
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,22,22,22,22,22,22,22,22,22,NaN