In [1]:
import pandas as pd
import numpy as np
from statistics import mode
import matplotlib.pyplot as plt

In [11]:

data = pd.read_csv('cases_deaths_county_data.csv')
data = data[data['County Name'] != "Statewide Unallocated"]
delete_list = []
for i in range(5, len(data.keys()) - 1):
    if int(data.keys()[i][:4]) != 2022:
        delete_list.append(i)
    elif int(data.keys()[i][5:7]) < 6:
        delete_list.append(i)

new_data = data.drop(data.columns[delete_list],axis = 1)
new_data

,Unnamed: 0,countyFIPS,County Name,State,StateFIPS,"2022-06-01,cases","2022-06-02,cases","2022-06-03,cases","2022-06-04,cases","2022-06-05,cases",...,"2022-12-23,deaths","2022-12-24,deaths","2022-12-25,deaths","2022-12-26,deaths","2022-12-27,deaths","2022-12-28,deaths","2022-12-29,deaths","2022-12-30,deaths","2022-12-31,deaths",population
1,1,1001,Autauga County,AL,1,15969,15978,15978,15978,15978,...,230,230,230,230,230,230,230,230,230,55869
2,2,1003,Baldwin County,AL,1,56580,56648,56648,56648,56648,...,719,719,719,719,719,719,719,719,719,223234
3,3,1005,Barbour County,AL,1,5710,5714,5714,5714,5714,...,103,103,103,103,103,103,103,103,103,24686
4,4,1007,Bibb County,AL,1,6508,6512,6512,6512,6512,...,108,108,108,108,108,108,108,108,108,22394
5,5,1009,Blount County,AL,1,15077,15084,15084,15084,15084,...,260,260,260,260,260,260,260,260,260,57826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,3188,56037,Sweetwater County,WY,56,11178,11178,11178,11178,11178,...,136,136,136,136,136,136,136,136,136,42343
3189,3189,56039,Teton County,WY,56,10229,10229,10229,10229,10229,...,16,16,16,16,16,16,16,16,16,23464
3190,3190,56041,Uinta County,WY,56,5681,5681,5681,5681,5681,...,43,43,43,43,43,43,43,43,43,20226
3191,3191,56043,Washakie County,WY,56,2369,2369,2369,2369,2369,...,47,47,47,47,47,47,47,47,47,7805
3192,3192,56045,Weston County,WY,56,1594,1594,1594,1594,1594,...,22,22,22,22,22,22,22,22,22,6927

In [15]:
#drop everything except the cases and deaths data
#add all the rows together to get data for entire country
US_data = new_data.drop(new_data.columns[[0, 1, 2, 3, 4, -1]], axis=1).sum() 
US_data

2022-06-01,cases     81427445
2022-06-02,cases     81494654
2022-06-03,cases     81701504
2022-06-04,cases     81712058
2022-06-05,cases     81737066
                       ...
2022-12-27,deaths      990276
2022-12-28,deaths      990493
2022-12-29,deaths      990707
2022-12-30,deaths      992217
2022-12-31,deaths      992220
Length: 428, dtype: int64

In [16]:
#separate cases and deaths data
US_cases, US_deaths = np.array_split(US_data, 2)
US_cases

2022-06-01,cases    81427445
2022-06-02,cases    81494654
2022-06-03,cases    81701504
2022-06-04,cases    81712058
2022-06-05,cases    81737066
                      ...
2022-12-27,cases    93510693
2022-12-28,cases    93538893
2022-12-29,cases    93619173
2022-12-30,cases    93726757
2022-12-31,cases    93726971
Length: 214, dtype: int64

In [19]:
#separate data into weeks to make calculations easier
US_weekly_cases_data = []
US_weekly_deaths_data = []
holder = []
for i in range(len(US_cases.keys())):
    if((i + 1) % 7 != 0):
        holder.append(US_cases[US_cases.keys()[i]])
    else:
        holder.append(US_cases[US_cases.keys()[i]])
        US_weekly_cases_data.append(holder)
        holder = []
if len(holder) != 0:
    US_weekly_cases_data.append(holder)
    holder = []

for i in range(len(US_deaths.keys())):
    if((i + 1) % 7 != 0):
        holder.append(US_deaths[US_deaths.keys()[i]])
    else:
        holder.append(US_deaths[US_deaths.keys()[i]])
        US_weekly_deaths_data.append(holder)
        holder = []
if len(holder) != 0:
    US_weekly_deaths_data.append(holder)
    holder = []

US_weekly_cases_data

[[81427445, 81494654, 81701504, 81712058, 81737066, 81887818, 81924905],
 [82093626, 82149139, 82249694, 82260785, 82344152, 82420126, 82487610],
 [82690943, 82763388, 83004605, 83034385, 83064890, 83117180, 83191445],
 [83351829, 83424738, 83522917, 83549016, 83589701, 83660856, 83719519],
 [83935614, 84033024, 84249253, 84269003, 84304891, 84345529, 84452490],
 [84620664, 84738547, 84819856, 84855980, 84878371, 84974762, 85039126],
 [85188641, 85364301, 85559961, 85587120, 85631260, 85747314, 85852145],
 [86032914, 86138326, 86237477, 86251427, 86278506, 86387638, 86459985],
 [86712884, 86819490, 87027553, 87042247, 87067539, 87181024, 87261326],
 [87432378, 87543057, 87618564, 87629763, 87651673, 87718679, 87820203],
 [87965371, 88068436, 88260285, 88269578, 88289700, 88417089, 88492810],
 [88621213, 88700135, 88760694, 88779172, 88783442, 88854136, 88927689],
 [89056931, 89136063, 89274181, 89281656, 89170329, 89220136, 89239974],
 [89383401, 89110425, 89130371, 89132941, 89144036, 89233060, 89310233],
 [89451049, 89516338, 89604010, 89621632, 89654932, 89640167, 89683458],
 [89757518, 89864452, 89883385, 89884893, 89920777, 89962641, 90006808],
 [90086339, 90169913, 90224935, 90235203, 90280808, 90319566, 90353778],
 [90425348, 90459600, 90477066, 90478469, 90508438, 90538641, 90574145],
 [90649036, 90678240, 90711338, 90712795, 90753827, 90777378, 90826696],
 [90883164, 90933867, 90945302, 90946747, 90983506, 91002415, 91040052],
 [91082616, 91122251, 91133453, 91134810, 91160939, 91199644, 91254932],
 [91296451, 91346512, 91355554, 91357943, 91378591, 91400412, 91439245],
 [91483989, 91520992, 91578412, 91579715, 91599167, 91621634, 91653999],
 [91717634, 91763266, 91772268, 91773255, 91796131, 91849694, 91896021],
 [91928214, 91970490, 92002620, 92003678, 92018386, 92044050, 92134498],
 [92188414, 92195069, 92203959, 92204646, 92228754, 92307288, 92346525],
 [92424166, 92468409, 92539268, 92539403, 92539403, 92607135, 92630793],
 [92666933, 92759158, 92859452, 92859667, 92859667, 92870267, 92901518],
 [92968152, 93035239, 93186371, 93186561, 93186561, 93229112, 93287237],
 [93432214, 93463959, 93476115, 93482513, 93485752, 93492593, 93510693],
 [93538893, 93619173, 93726757, 93726971]]

In [20]:
US_weekly_cases_means = []
US_weekly_cases_medians = []
US_weekly_cases_modes = []
for i in US_weekly_cases_data:
    US_weekly_cases_means.append(np.mean(i))
    US_weekly_cases_medians.append(np.median(i))
    US_weekly_cases_modes.append(mode(i))

US_weekly_deaths_means = []
US_weekly_deaths_medians = []
US_weekly_deaths_modes = []
for i in US_weekly_deaths_data:
    US_weekly_deaths_means.append(np.mean(i))
    US_weekly_deaths_medians.append(np.median(i))
    US_weekly_deaths_modes.append(mode(i))